<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- GOOGLE ICONS CDN -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- CSS STYLES -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
</head>
<body>
    <!-- FOOTER -->
<footer>
    <div class="left">
      <a href="/">KART</a>
      <p>An e-commerce website.</p>
      <br>
      <ul>
        <li>
          <a href="https://github.com/hasan-code" target="_blank" id="github-icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.0478 5.03036C9.32798 4.62433 8.71894 4.0522 7.35321 4.01529C6.98413 5.32565 7.0395 5.8055 7.26093 6.59911C5.17546 9.27519 6.46737 13.9445 10.6937 13.9445C10.4169 14.2213 10.1401 14.6643 10.1031 15.2549C8.7928 15.8455 7.74082 15.3841 7.22402 14.3505C7.13047 14.101 6.27238 13.3637 5.66345 13.4532C5.46078 13.483 5.39129 13.7327 5.52119 13.8911C5.80818 14.2411 6.21029 14.0553 6.85491 15.6055C7.4455 16.8974 9.34645 16.8421 10.1031 16.6021C10.14 17.2481 9.9924 17.7649 10.1031 18.9645C11.3808 20.3452 13.6424 20.3452 14.9201 18.9645C14.7724 17.4511 15.2154 14.8119 14.2372 13.9445C18.9988 13.723 19.4787 8.6846 17.6516 6.59911C17.7992 5.95314 18.0207 5.08572 17.5224 4.01529C16.6549 3.88609 15.4922 4.60587 14.9016 5.03036C13.3698 4.62433 11.7088 4.56896 10.0478 5.03036Z"
                fill="black"
              />
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/hasan-al-saeed-0245741b1"
            target="_blank" id="linkedin-icon"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.25639 17.5V8.77273H8.39276V17.5H5.25639ZM6.82457 7.86364C6.40033 7.86364 6.0367 7.72348 5.73366 7.44318C5.43063 7.16288 5.27912 6.82576 5.27912 6.43182C5.27912 6.03788 5.43063 5.70076 5.73366 5.42045C6.0367 5.14015 6.40033 5 6.82457 5C7.2526 5 7.61624 5.14015 7.91548 5.42045C8.21851 5.70076 8.37003 6.03788 8.37003 6.43182C8.37003 6.82576 8.21851 7.16288 7.91548 7.44318C7.61624 7.72348 7.2526 7.86364 6.82457 7.86364ZM13.1271 12.5909V17.5H9.99077V8.77273H12.968V10.4318H13.0589C13.2483 9.87879 13.5817 9.44508 14.0589 9.13068C14.54 8.81629 15.1006 8.65909 15.7408 8.65909C16.3582 8.65909 16.8942 8.80114 17.3487 9.08523C17.8071 9.36553 18.1612 9.75189 18.4112 10.2443C18.665 10.7367 18.79 11.2992 18.7862 11.9318V17.5H15.6499V12.5909C15.6536 12.1591 15.5438 11.8201 15.3203 11.5739C15.1006 11.3277 14.7938 11.2045 14.3999 11.2045C14.1423 11.2045 13.9169 11.2614 13.7237 11.375C13.5343 11.4848 13.3885 11.6439 13.2862 11.8523C13.1839 12.0568 13.1309 12.303 13.1271 12.5909Z"
                fill="black"
              />
            </svg>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/heyhxn" target="_blank" id="instagram-icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15 5.5H9C7.067 5.5 5.5 7.067 5.5 9V15C5.5 16.933 7.067 18.5 9 18.5H15C16.933 18.5 18.5 16.933 18.5 15V9C18.5 7.067 16.933 5.5 15 5.5ZM9 4C6.23858 4 4 6.23858 4 9V15C4 17.7614 6.23858 20 9 20H15C17.7614 20 20 17.7614 20 15V9C20 6.23858 17.7614 4 15 4H9ZM12 14.5C13.3807 14.5 14.5 13.3807 14.5 12C14.5 10.6193 13.3807 9.5 12 9.5C10.6193 9.5 9.5 10.6193 9.5 12C9.5 13.3807 10.6193 14.5 12 14.5ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16ZM15.75 8.5C16.1642 8.5 16.5 8.16421 16.5 7.75C16.5 7.33579 16.1642 7 15.75 7C15.3358 7 15 7.33579 15 7.75C15 8.16421 15.3358 8.5 15.75 8.5Z"
                fill="black"
              />
            </svg>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/___hasan9" target="_blank" id="twitter-icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.8556 9.54742C8.60062 9.33606 6.43769 7.80016 5.09908 6.12336C3.87316 8.22289 5.38791 10.097 6.09247 10.4985C5.36678 10.4492 5.2611 10.3999 4.61295 10.097C4.67633 11.9781 5.95154 13.1053 7.24791 13.366C6.96607 13.4805 6.30381 13.5351 5.77543 13.4294C6.23336 14.7398 7.32539 15.6276 8.80493 15.7121C7.12107 17.1071 5.22587 17.2269 4 17.1071C9.23468 20.4889 18.3725 17.8046 18.3725 8.75834C19.0418 8.22994 19.5632 7.72972 20 7.06745C19.2321 7.35631 18.9221 7.49017 18.1541 7.56063C18.5275 7.32108 19.2532 6.7504 19.5632 5.75701C19.1475 5.99655 18.5557 6.35587 17.4778 6.53905C14.5539 4.00272 11.2497 6.53905 11.8556 9.54742Z"
                fill="black"
              />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  
    <div class="right">
      <ul>
        <li><a href="/electronics">Electronics</a></li>
        <li><a href="/fashion-and-styles">Fashion & Styles</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/stationary">Stationary</a></li>
        <li><a href="/groceries">Groceries</a></li>
      </ul>
      <ul>
        <li><a href="/cart">My cart</a></li>
        <li><a href="/login">User Login</a></li>
        <li><a href="/dashboard">Admin Panel</a></li>
      </ul>
      <ul>
        <li><a href="/about">About us</a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
    </div>
  </footer>
  
</body>
</html>