<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- GOOGLE ICONS CDN -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- CSS STYLES -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css" />
  </head>
  <body>
    <!-- MENU -->
    <div class="sidebar-menu">
      <span class="material-symbols-outlined" id="menu-icon"> menu </span>
      <span class="material-symbols-outlined" id="close-icon"> close </span>
    </div>
    <!-- SIDEBAR -->
    <nav class="sidebar" id="sidebar">

      <div class="links">
        <div class="logo">
          <h3>KART</h3>
        </div>
        <h3>ADMIN PANEL</h3>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/add-products">Add products</a>
        <a href="/in-development">View Orders</a>
        <a href="/in-development">Logout</a>
      </div>

      <div class="other">
        <div class="profile">
          <div class="profile-pic">
            <!-- <img src="https://unsplash.com/photos/6VPEOdpFNAs" alt="Profile photo"> -->
            <span class="material-symbols-outlined"> account_circle </span>
          </div>
          <div class="details">
            <p class="admin-name">Hasan Al Saeed</p>
            <p class="role">Admin</p>
          </div>
        </div>
      </div>
    </nav>

    <!-- JAVASCRIPT -->
    <script>
      // Toggle SIDEBAR in mobile
      const menuIcon = document.getElementById("menu-icon");
      const closeIcon = document.getElementById("close-icon");
      const sidebar = document.getElementById("sidebar");

      menuIcon.addEventListener("click", () => {
        menuIcon.style.display = "none";
        closeIcon.style.display = "block";
        sidebar.classList.toggle("active");
      });

      closeIcon.addEventListener("click", () => {
        menuIcon.style.display = "block";
        closeIcon.style.display = "none";
        sidebar.classList.toggle("active");
      });
    </script>
  </body>
</html>
