<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KART | <%= title %></title>

    <!-- GOOGLE ICONS CDN -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- CSS STYLES -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />
  </head>
  <body>
    <!-- LOGIN PAGE -->
    <div class="login">
      <!-- <div class="background"></div> -->

      <!-- LOGIN FORM -->
      <div class="login-form">
        <form action="/login" method="post" autocomplete="off">
          <h3>Welcome back!</h3>
          <p>Please enter your credentials to log in.</p>

          <br />

          <!-- <div class="alert">
            <p>
              The email or password you've entered may be incorrect. Please try
              again!
            </p>
          </div> -->

          <br />

          <div class="input-group">
            <input
              type="email"
              name="email"
              id="email"
              class="input"
              placeholder=" "
              required
            />
            <label for="email" class="placeholder">Email</label>
          </div>

          <br />

          <div class="input-group">
            <input
              type="password"
              name="password"
              id="password"
              class="input"
              placeholder=" "
              required
            />
            <label for="password" class="placeholder">Password</label>
          </div>

          <!-- <div class="remember">
                <input type="checkbox" name="checkbox" id="checkbox">
                <p>Remember me for 7 days.</p>
            </div> -->

          <br />

          <button type="submit">Login</button>

          <br />

          <p>Don't have account? &nbsp; <a href="/signup">Sign up.</a></p>
          <p>Forgot your password? &nbsp; <a href="">Reset password.</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
